<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Rico's</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
</nav>

<div class="bg-primary text-white col-8 py-5 d-flex row mx-auto">
  <h1 class="d-flex justify-content-center fw-normal">Abarrotes "El Rico"</h1>
  <h5 class="d-flex justify-content-center fw-light">Hecho por Emanuel Rico Martínez</h5>
  <h5 class="d-flex justify-content-center fw-light">Diana Sarahí de la Garza del Río</h5>
  <h5 class="d-flex justify-content-center fw-light">Guillermo Cervantes Lobo</h5>
</div>

<router-outlet></router-outlet>


